In [1]:
import numpy as np
import pandas as pd

from snmp_fetch.pandas_extension import xt

In [2]:
# default index
arr = np.array([
 [0, 1, 2],
 [3, 4, 5]
])
df = pd.DataFrame({'A': list(arr)})
df

           A
0  [0, 1, 2]
1  [3, 4, 5]

In [3]:
# get int item
df['A'].xt[0]

0    0
1    3
Name: A, dtype: int64

In [4]:
# get int item (in tuple)
df['A'].xt[(0,)]

0    0
1    3
Name: A, dtype: int64

In [5]:
# get slice item
df['A'].xt[:2]

0    [0, 1]
1    [3, 4]
Name: A, dtype: object

In [6]:
# get slice item (in tuple)
df['A'].xt[(slice(None, 2),)]

0    [0, 1]
1    [3, 4]
Name: A, dtype: object

In [7]:
# get multiple items
df['A'].xt[:2, -1]

        A  B
0  [0, 1]  2
1  [3, 4]  5

In [8]:
# custom index
arr = np.array([
 [0, 1, 2],
 [3, 4, 5]
])
df = pd.DataFrame({'level0': ['a', 'b'], 'A': list(arr)}).set_index('level0')
df

                A
level0
a       [0, 1, 2]
b       [3, 4, 5]

In [9]:
pd.MultiIndex.from_arrays([[0, 0], [1, 2]])

MultiIndex([(0, 1),
            (0, 2)],
           )

In [10]:
# get int item
df['A'].xt[0]

level0
a    0
b    3
Name: A, dtype: int64

In [11]:
# get int item (in tuple)
df['A'].xt[(0,)]

level0
a    0
b    3
Name: A, dtype: int64

In [12]:
# get slice item
df['A'].xt[:2]

level0
a    [0, 1]
b    [3, 4]
Name: A, dtype: object

In [13]:
# get slice item (in tuple)
df['A'].xt[(slice(None, 2),)]

level0
a    [0, 1]
b    [3, 4]
Name: A, dtype: object

In [14]:
# get multiple items
df['A'].xt[:2, -1]

             A  B
level0
a       [0, 1]  2
b       [3, 4]  5

In [15]:
# custom multi-index
arr = np.array([
 [0, 1, 2],
 [3, 4, 5]
])
df = pd.DataFrame({'level0': ['a', 'a'], 'level1': [10, 20], 'A': list(arr)}).set_index(['level0', 'level1'])
df

                       A
level0 level1
a      10      [0, 1, 2]
       20      [3, 4, 5]

In [16]:
# get int item
df['A'].xt[0]

level0  level1
a       10        0
        20        3
Name: A, dtype: int64

In [17]:
# get int item (in tuple)
df['A'].xt[(0,)]

level0  level1
a       10        0
        20        3
Name: A, dtype: int64

In [18]:
# get slice item
df['A'].xt[:2]

level0  level1
a       10        [0, 1]
        20        [3, 4]
Name: A, dtype: object

In [19]:
# get slice item (in tuple)
df['A'].xt[(slice(None, 2),)]

level0  level1
a       10        [0, 1]
        20        [3, 4]
Name: A, dtype: object

In [20]:
# get multiple items
df['A'].xt[:2, -1]

                    A  B
level0 level1
a      10      [0, 1]  2
       20      [3, 4]  5